@{
    ViewData["Title"] = "OrderDetails";
    decimal subtotal = 0;
    Layout = "~/Views/Shared/_Sidebar&navbar.cshtml";
}
@model OrderViewModel
<link rel="stylesheet" href="~/css/orderDetails.css">
<div class="content w-100 h-100">
    <div class="container my-4">
        <h1 class="mb-4">Order Details</h1>
        <div class="row mb-2">
            <div class="col-12">
                <div class="card p-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4>Order Summary <span class="badge bg-primary">@Model.order.Status.Statusname</span></h4>
                        <button class="btn btn-primary">
                            <i class="fa-solid fa-file-export me-2 text-white fa-xl"></i>
                            <span><img src="~/images/export (1).svg" style="filter: brightness(0) invert(1);"
                                    alt="">Export</span>
                        </button>
                    </div>
    using System.Reflection.Emit;

                    <div class="row mb-2">
                        <div class="col-md-12">
                            <p><strong>Invoice No.:</strong> #DOM202500229</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p class="small">
                                <strong>Paid on:</strong> - &nbsp; | &nbsp;
                                <strong>Placed on:</strong>@Model.order.Createdat &nbsp; | &nbsp;
                                <strong>Modified on:</strong> @Model.order.Modifiedat &nbsp; | &nbsp;
                                <strong>Order Duration:</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gx-2 mb-2">
            <div class="col-md-6">
                <div class="card h-100 p-3">
                    <h6 class="fw-bold"><img src="~/images/4587323.png" style="width: 6%;" alt="">Customer Details:</h6>
                    <p class="mb-2"><strong>Name:</strong> @Model.order.Customer.Customername</p>
                    <p class="mb-2"><strong>Phone:</strong> @Model.order.Customer.Phonenumber</p>
                    <p class="mb-2"><strong>No of Person:</strong>@Model.order.Totalpersons</p>
                    <p class="mb-2"><strong>Email:</strong>@Model.order.Customer.Email</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card h-100 p-3">
                    <h6 class="fw-bold">
                        <div class="d-flex align-items-center"><img src="~/images/icons8-restaurant-table-24.png"
                                alt=""><label for="" class="ms-2">Table Details:</label></div>
                    </h6>
                    <p class="mb-2"><strong>Table: </strong>@Model.order.Table.Tablename</p>
                    <p class="mb-2"><strong>Section: </strong>@Model.order.Section.Sectionname</p>
                </div>
            </div>
        </div>

        <div class="card p-4 mb-4">
            <h3 class="mb-3">Order Items</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th  class="d-flex justify-content-end">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in @Model.orderedItemModifiers.modifiersForItem.Keys)
                        {
                            <tr>
                                <td>1</td>
                                <td>@item.Itemname <br />

                                    @foreach (var modifier in @Model.orderedItemModifiers.modifiersForItem[item])
                                    {
                                        <li>@modifier.Modifiername</li>
                                        @* <br /> *@
                                    }

                                </td>
                                <td>
                                    @item.Itemquantity
                                    @foreach (var modifier in @Model.orderedItemModifiers.modifiersForItem[item])
                                    {
                                        <br>@modifier.Modifierquantity
                                        @* <br /> *@
                                    }

                                </td>
                                <td>@item.Itemrate
                                    @foreach (var modifier in @Model.orderedItemModifiers.modifiersForItem[item])
                                    {
                                        <br>@(modifier.Modifierrate)
                                        @* <br /> *@
                                    }
                                </td>
                                <td class="d-flex justify-content-end"><label style="display: none;">@(item.Itemrate * item.Itemquantity)</label>

                                   @(subtotal += item.Itemrate * item.Itemquantity);
                                    @foreach (var modifier in @Model.orderedItemModifiers.modifiersForItem[item])
                                    {
                                        <br>@(modifier.Modifierrate * modifier.Modifierquantity)
                                        <label style="display: none;">@(subtotal += modifier.Modifierrate * modifier.Modifierquantity)</label>
                                        @* subtotal += modifier.Modifierrate * modifier.Modifierquantity *@
                                        @* <br /> *@
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-end">
                <table class="table w-auto">
                    <tbody>
                        <tr>
                            <td>Subtotal:</td>
                            <td>@subtotal</td>
                        </tr>
                        <tr>
                            <td>CGST:</td>
                            <td>₹@((subtotal * 6)/100)</td>
                        </tr>
                        <tr>
                            <td>SGST:</td>
                            <td>₹150.00</td>
                        </tr>
                        <tr>
                            <td>GST:</td>
                            <td>₹7.98</td>
                        </tr>
                        <tr>
                            <td>Other:</td>
                            <td>₹19.95</td>
                        </tr>
                        <tr class="fw-bold">
                            <td>Total:</td>
                            <td>₹624.81</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
