@model ItemModel

<div id="modifiergroup_@Model.mg.Modifiergroupid">
    <div class="d-flex ps-3  pe-3 pt-1 mb-2">
        <label>@Model.mg.Modifiergroupname</label>
        <img src="~/images/trash-fill.svg" style="margin-left:auto;cursor:pointer;"
            onclick="deleteModifierGroup(@Model.mg.Modifiergroupid)" alt="">
    </div>
   <input type="text" id="modifiergroupid_@Model.mg.Modifiergroupid" asp-for="@Model.ModifierModels[@Model.mg.Modifiergroupid].ModifiergroupId" value="@Model.mg.Modifiergroupid" hidden>
   @* <input type="text" id="modifiergroupid_@Model.mg.Modifiergroupid" asp-for="@Model.ids[@Model.mg.Modifiergroupid]" value="@Model.mg.Modifiergroupid" hidden> *@
    <div class="d-flex">
        <select class="form-select form-select-lg mb-3 w-25" asp-for="@Model.ModifierModels[@Model.mg.Modifiergroupid].min_value" style="font-size:0.75rem"
            aria-label=".form-select-lg example">
            <option selected>0</option>
            <option value="1">1</option>
        </select>
        <select class="form-select form-select-lg mb-3 w-25" id="modifiergroupid_@Model.mg.Modifiergroupid" asp-for="@Model.ModifierModels[@Model.mg.Modifiergroupid].max_value"  style="margin-left:auto;font-size: 0.75rem;"
            aria-label=".form-select-lg example">
            <option value="1">0</option>
            <option value="2" selected>1</option>
            <option value="3">2</option>
        </select>

    </div>
    <ul class="">
        @foreach (var m in @Model.modifiers)
        {
            <div class="d-flex justify-content-between">
                <li class="pb-1 pt-1 w-75" style="list-style-type: circle;">@m.Modifiername</li>
                <li class="pb-1 pt-1 w-25">@m.Modifierrate</li>
            </div>
        }
    </ul>
</div>

<script>
    function deleteModifierGroup(id) {
        var temp = "#modifiergroup_" + id;
        document.querySelector(temp).remove();
        $("#modifier-group").val("");
    }
</script>
