@{
    Layout = "~/Views/Shared/_Sidebar&navbar.cshtml";

    ViewData["Title"] = "Add User Page";
}
@model UserDetailModel

<link rel="stylesheet" href="~/css/adduser.css">

    <div class="container-fluid w-100 h-100 p-0">

        <div id="nav-sidebar"></div>
        <div class="row p-0 h-100 d-flex">

            <div class="content pt-3 w-100">
                <div class="mb-4">
                    <h1>Add new User</h1>
                </div>
                <div class="form-container shadow me-4">

                    <div>
                        <form class="ps-3 pe-3 pb-3 d-flex flex-column" action="@Url.Action("AddUser", "Dashboard")"
                            method="post" enctype="multipart/form-data">
                            <div class="form-group w-100 ">
                                <div>
                                    <div class="row">
                                        <div class="form-floating mb-2 col-6">
                                            <input type="text" class="form-control  pb-1" asp-for="firstname"
                                                placeholder="name@example.com">
                                            <span asp-validation-for="firstname"
                                                class="mb-4 text-danger invalidmsg"></span>
                                            <label for="floatingInput">First Name</label>
                                        </div>
                                        <div class="form-floating mb-2 col-6">
                                            <input type="text" class="form-control" asp-for="lastname"
                                                id="floatingInput" placeholder="name@example.com">
                                            <span asp-validation-for="lastname"
                                                class="mb-4 text-danger invalidmsg"></span>
                                            <label for="floatingInput">Last name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-floating mb-2 col-6">
                                            <input type="text" class="form-control col-6" asp-for="username"
                                                id="floatingInput" placeholder="name@example.com">
                                            <span asp-validation-for="username"
                                                class="mb-4 text-danger invalidmsg"></span>
                                            <label for="floatingInput">User Name</label>
                                        </div>
                                        <div class="form-floating mb-2 col-6">
                                            <select class="form-select" asp-for="role"
                                                aria-label="Floating label select example">
                                                <option value="">select Role </option>
                                                @foreach (var item in Model.Role)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>

                                            <label for="floatingInput">Role</label>
                                            <span asp-validation-for="Role" class="mb-4 text-danger invalidmsg"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-floating mb-2 col-6">
                                            <input type="text" class="form-control col-6" asp-for="email"
                                                id="floatingInput" placeholder="name@example.com">
                                            <label for="floatingInput">Email</label>
                                            <span asp-validation-for="email" class="mb-4 text-danger invalidmsg"></span>
                                        </div>
                                        <div class="form-floating mb-2 col-6">
                                            <input type="password" class="form-control col-6" asp-for="password"
                                                asp-formaction="City" id="floatingInput" placeholder="name@example.com">
                                            <label for="floatingInput">Password</label>
                                            <span asp-validation-for="password"
                                                class="mb-4 text-danger invalidmsg"></span>
                                        </div>
                                    </div>
                                    <div class="row fileUploadRow me-1 ms-1 mb-3">
                                        <div class="container-fluid " style="padding: 0%;">
                                            <input type="file" asp-for="profilePicPath" id="fileUpload1" hidden>
                                            <div class="row d-flex justify-content-center">
                                                <label for="fileUpload1" class="fileUploadLabel">
                                                    <img src="/images/icons8-cloud-upload-50.png"
                                                        style="margin-left: 47%;">
                                                </label>
                                            </div>
                                            <div style="text-align: center;" class="mb-2 ms-3">Browse Files</div>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="form-floating col-4 ">
                                            <select class="form-select" id="countryid" asp-for="countryid"
                                                aria-label="Floating label select example">
                                                @foreach (var item in Model.Country)
                                                {
                                                    <option value="@item.Countryid">@item.Countryname</option>
                                                }
                                            </select>
                                            <label for="floatingSelect">Country</label>
                                            <span asp-validation-for="countryid"
                                                class="mb-4 text-danger invalidmsg"></span>
                                        </div>
                                        <div class="form-floating col-4">
                                            <select class="form-select" id="stateid" asp-for="stateid"
                                                aria-label="Floating label select example">
                                                <option value="">select state </option>
                                            </select>
                                            @* <span asp-validation-for="stateid" class="mb-4 text-danger invalidmsg"></span> *@
                                            </select>
                                            <label for="floatingSelect">State</label>
                                            <span asp-validation-for="stateid"
                                                class="mb-4 text-danger invalidmsg"></span>
                                        </div>
                                        <div class="form-floating col-4">
                                            <select class="form-select" aria-label="Floating label select example"
                                                id="cityid" asp-for="cityid">
                                                <option value="">select city</option>
                                            </select>
                                            @* <span asp-validation-for="stateid" class="mb-4 text-danger invalidmsg"></span> *@
                                            <span asp-validation-for="cityid"
                                                class="mb-4 text-danger invalidmsg"></span>
                                            <label for="floatingSelect">City</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-floating mb-3 col-4">
                                            <input type="text" class="form-control" asp-for="Zipcode" id="floatingInput"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Zipcode</label>
                                            <span asp-validation-for="Zipcode"
                                                class="mb-4 text-danger invalidmsg"></span>
                                        </div>
                                        <div class="form-floating mb-3 col-4">
                                            <input type="text" class="form-control" asp-for="address" id="floatingInput"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Address</label>
                                            <span asp-validation-for="address"
                                                class="mb-4 text-danger invalidmsg"></span>
                                        </div>
                                        <div class="form-floating mb-3 col-4">
                                            <input type="tel" class="form-control" asp-for="Phone" id="floatingInput"
                                                placeholder="name@example.com" maxlength="10" size="10">
                                            <label for="floatingInput">Phone</label>
                                            <span asp-validation-for="Phone" class="mb-4 text-danger invalidmsg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                                <button type="button" class="btn btn-outline-primary">cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var selectedCountry = $('#countryid').val();
            var selectedState = '@Model.stateid';
            var selectedCity = '@Model.cityid';


            if (selectedCountry) {
                $.getJSON('@Url.Action("GetStates")', { countryid: selectedCountry }, function (states) {

                    var statesSelect = $('#stateid');

                    statesSelect.empty();

                    statesSelect.append('<option value="">Select State</option>');

                    $.each(states, function (index, state) {
                        var option = $('<option/>', {
                            value: state.value,
                            text: state.text
                        });
                        if (state.value == selectedState) {
                            option.prop('selected', true);
                        }
                        statesSelect.append(option);
                    });
                    if (selectedState) {
                        $.getJSON('@Url.Action("GetCities")', { stateid: selectedState }, function (cities) {

                            var citiesSelect = $('#cityid');

                            citiesSelect.empty();
                            citiesSelect.append('<option value="">Select City</option>');
                            $.each(cities, function (index, city) {
                                var option = $('<option/>', {
                                    value: city.value,
                                    text: city.text
                                });
                                if (city.value == selectedCity) {
                                    option.prop('selected', true);
                                }
                                citiesSelect.append(option);
                            });
                        });
                    }
                });

                $('#countryid').change(function () {
                    var countryid = $(this).val();
                    console.log(countryid);
                    $.getJSON('@Url.Action("GetStates")', { countryid: countryid }, function (states) {
                        console.log("hello");
                        var statesSelect = $('#stateid');
                        statesSelect.empty();
                        statesSelect.append('<option value="">Select State</option>');

                        $.each(states, function (index, state) {
                            statesSelect.append($('<option/>', {
                                value: state.value,
                                text: state.text
                            }));
                        });
                        $('#cityid').empty().append('<option value="">Select City</option>');
                    });
                });
                $('#stateid').change(function () {
                    var stateid = $(this).val();
                    $.getJSON('@Url.Action("GetCities")', { stateid: stateid }, function (cities) {

                        var citiesSelect = $('#cityid');
                        citiesSelect.empty();
                        citiesSelect.append('<option value="">Select City</option>');
                        $.each(cities, function (index, city) {
                            citiesSelect.append($('<option/>', {
                                value: city.value,
                                text: city.text
                            }));
                        });
                    });
                });
            });
    </script>
    