@{
    Layout = "";
}
@model ItemModel
<thead>
    <tr>
        <th scope="col">
            <input class="form-check-input checkedItems me-1" id="masterCheck" type="checkbox"  />
                <label class="form-check-label" for="flexCheckDefault">
                    <label for="" style="font-size: 14px;">Name</label>
                </label>
        </th>
        <th scope="col">
            <div class="form-check">
                <label class="form-check-label" for="flexCheckDefault">
                    Unit
                </label>
            </div>
        </th>
        <th scope="col">Rate</th>
        <th scope="col">Quantity</th>
        <th scope="col">Action</th>
    </tr>
</thead>
<tbody>
    @foreach (var modifier in Model.modifiers)
    {
        <tr>
            <td scope="row">
                <input class="form-check-input IsModifierChecked" type="checkbox" value="@modifier.Modifierid" />
                <label class="form-check-label" for="flexCheckDefault">
                    <img src="~/images/dining-menu.png" class="modifier-img"style="width:20%;" alt="">
                    <label for="" style="font-size: 14px;">@modifier.Modifiername</label>
                </label>

            </td>
            <td>@modifier.Unit.Shortname</td>
            <td>@modifier.Modifierrate</td>
            <td>@modifier.Modifierquantity</td>
            <td data-lastcolumn="L">
                <div class="d-flex justify-content-start w-100 pb-2 h-100">
                    <img src="~/images/pencil-square.svg" class="me-2" alt="" onclick="OpenEditModifierModel(@modifier.Modifierid,@modifier.Modifiergroupid)">
                    <img src="~/images/trash-fill.svg" onclick="OpenDeleteModifierModal(@modifier.Modifierid,@modifier.Modifiergroupid)" style="cursor: pointer;" alt="">
                </div>
            </td>
        </tr>
    }
    
</tbody>

    <script>
        var subchecks = document.querySelectorAll(".IsModifierChecked");
        document.getElementById("masterCheck").addEventListener("change",()=>{
            subchecks.forEach((checkbox)=>{
                checkbox.checked = document.getElementById("masterCheck").checked;
            })
        })
    </script>
