@{
    Layout = "~/Views/Shared/_Sidebar&navbar.cshtml";

    ViewData["Title"] = "Menu Page";

}
@model MenuModel

<link rel="stylesheet" href="~/css/menu.css">


<div class="container-fluid w-100 h-100 p-0">
    <div id="nav-sidebar"></div>
    <div class="row p-0 h-100 d-flex">
        <div class="content pt-3 w-100 h-100">
            <div class="header d-flex align-items-center justify-content-start mb-4 d-flex">
                <h1>Menu</h1>
            </div>
            <div class="form-container shadow">
                <div>
                    <div class="navpanel w-100 mb-2">
                        <button type="submit" class="h-100 item" style="width: 10%;font-size: 15px;" onclick="loadcategoryItemPage()">Items</button>
                        <button type="submit" class="h-100 mod" style="width: 10%;font-size: 15px;"
                            onclick="loadModifierPage()">Modifiers</button>
                    </div>
                </div>
                <div class="d-flex w-100 h-100" id="menu-container">

                    <div class="menusidebar h-100 "></div>
                    <div class="menubody bg-white h-100"></div>
                    <div id="deletemodel">
                    </div>
                    <div id="AddItemModelDiv">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("document").ready(function () {
            loadCategories();
            loadItemData(1);
             $('.item').addClass('active');
        });
        function loadcategoryItemPage() {
            $('.mod').removeClass('active');
            $('.item').addClass('active');
            loadCategories();
            loadItemData(1);
        };
        function loadCategories() {
            $.ajax({
                url: '@Url.Action("CategoriesData", "Menu")',
                type: "GET",
                cache: false,
                success: function (data) {
                    $(".menusidebar").html(data);

                }
            });
        };
        function loadTableData(categoryid) {
          $('[id^="selectedCat_"]').removeClass("active2");
          $('#selectedCat_'+categoryid).addClass("active2");

            $.ajax({
                url: '@Url.Action("ItemsData", "Menu")',
                data: { categoryid: categoryid },
                method: 'GET',
                success: function (data) {
                    $("table").html(data);
               
                }
            });
        }
        function loadItemData(categoryId) {
            $.ajax({
                url: '@Url.Action("LoadItemPage", "Menu")',
                type: "GET",
                data: { categoryId: categoryId },
                cache: false,
                success: function (data) {
                    $(".menubody").html(data);
                }
            });
        };

        function DeleteMultipleItems() {
            var selectedItems = [...document.querySelectorAll(".checkedItems:checked")].map(x => parseInt(x.value, 10));
            var result = selectedItems.map(function (x) {
                return parseInt(x);
            });
            var categoryId = document.getElementById("categoryid_hidden").value;
            console.log(result);
            $.ajax({
                url: '@Url.Action("DeleteItems", "Menu")',
                data: { selectedItems: selectedItems, categoryId: categoryId },
                method: 'POST',
                success: function (data) {
                    $("table").html(data);
                }

            });
        };
        function deleteItemGet(itemid) {
            console.log("clicked");
            console.log(itemid);
            $.ajax({
                url: '@Url.Action("deleteItem", "Menu")',
                type: "GET",
                data: { itemid: itemid },
                success: function (data) {
                    $('#deletemodel').html(data);
                    $('#exampleModalCenter8').modal('show');
                    $('#itemid_hidden').val(itemid);
                }
            });
        };
        function deleteItemPost() {
            console.log("clicked");
            var itemid = $('#itemid_hidden').val();
            var categoryId = $('#categoryid_hidden').val();
            $.ajax({
                url: '@Url.Action("deleteItem", "Menu")',
                type: "POST",
                data: { itemid: itemid },
                success: function (data) {
                    $('table').html(data);
                    loadTableData(categoryId)
                }
            });

        };
        function openAddItemModal() {
            console.log("model opened");
            $.ajax({
                url: '@Url.Action("OpenAddItemModel", "Menu")',
                method: 'GET',
                success: function (data) {
                    console.log(data);
                    $("#AddItemModelDiv").html(data);
                    $("#exampleModalCenter3").modal('show');
                }
            });
        }
        
        @* -------------------------------------ModifierPage-------------------------------------------- *@


 function loadModifierPage() {
    loadModifierGroups();
    loadModifiersData(1);
     $('.item').removeClass('active');
     $('.mod').addClass('active');
}

function loadModifierGroups() {
    console.log("Loading Modifier Groups...");
    $.ajax({
        url: '@Url.Action("getModifierGroups", "Menu")',
        method: 'GET',
        data: { partialViewName: "_modifierGroupsPartial" },
        success: function (response) {
            $(".menusidebar").html(response);
        },
        error: function (xhr, status, error) {
            console.error('Error loading modifier groups:', error);
        }
    });
}

function loadModifiersForModifierGroup(modifierGroupId) {
    $.ajax({
        url: '/Menu/getModifiersForModifierGp',
        type: 'GET',
        data: { modifierGroupId: modifierGroupId },
        success: function (response) {
            $("table").html(response);
        },
        error: function (xhr, status, error) {
            console.error('Error fetching modifiers:', error);
        }
    });
}

function loadModifiersData(modifierGroupId) {
    $.ajax({
        url: '/Menu/LoadModifiersPage',
        type: 'GET',
        data: { modifierGroupId: modifierGroupId },
        success: function (response) {
            $(".menubody").html(response);
            console.log("modifier page loaded");
        },
        error: function (xhr, status, error) {
            console.error('Error fetching modifiers data:', error);
        }
    });
}


    </script>